[submodule "dog"]
	path = dog
	url = https://github.com/gritzko/libdog.git
[submodule "test"]
	path = test
	url = https://github.com/gritzko/jab-tests.git
[submodule "qjs"]
	path = qjs
	url = https://github.com/quickjs-ng/quickjs.git
